<div class="row">
  <div *ngFor="let user of users">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ user.firstName + ' ' + user.lastName }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ user.emailId }}</h6>
          <button class="btn btn-light" (click)="viewUser.emit(user)">
            View
          </button>
          <button *appUserRoles="['admin']" class="btn btn-light" (click)="deleteUser.emit(user)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
